*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculadora {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
    color: rgb(73, 76, 78);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    padding: 2rem;
    border-radius: 2rem;
    gap: 1rem;
}

.Pantalla {
    grid-column: 1/5;
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right,  #b46e9b, #db91c0);
    background: linear-gradient(to right, #bb5494, #d890bd);
    padding: 2rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.Boton {
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #FD746C, #2C3E50);
    background: linear-gradient(to right, #FD746C, #2C3E50);
    color: rgb(255, 255, 255);
    border: 0;
    padding: 1rem;
    font-size: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    cursor: pointer;
}

.Boton:hover {
    background: #FF5F6D;
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
    background: linear-gradient(to right, #FFC371, #FF5F6D);
}

#Cero{
    grid-column: span 2;
}

#Igual{
    grid-row: span 2 ;
}

#Igual:hover {
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50);

}